* {
    box-sizing: border-box;
    font-family: $bodyFont;
    -webkit-touch-callout: none; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    min-width: 100%;
    min-height: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: $headingFont;
}

.row {
    @include flex-display();
    @include flex-wrap(wrap);
    margin-bottom: 10px;
    &:last-of-type {
        margin-bottom: 0;
    }
    
    &.center {
        .col {
            margin: 0 auto 15px;
        }
    }
    
    @include respond-to($screenSlim) {
        @include flex-wrap(wrap);
        input {
            margin: 0 auto 10px;
        }
    }
}

a {
    color: $linkPrimary;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    
    &:after {
        display: block;
        margin: 0 auto;
        position: absolute;
        background: darken($linkPrimary, 20%);
        height: 1px;
        width: 0;
        left: 0;
        right: 0;
        content: "";
        @include transition(all 500ms);
    }
        
    &:hover {
        color: darken($linkPrimary, 20%);
        &:after {
            width: 100%;
        }
    }
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 10px;
    @include respond-to($screenSlim) {
        @include flex(0 0 100%, true);
    }
}

@each $col in 1,2,3,4,5,6,7,8,9,10,11,12 {
    .col-#{$col} {
        @include flex(0 0 (100% * ($col / 12)));
    }
}

@each $dir in left, center, right {
    .text-#{$dir} {
        text-align: #{$dir};
    }
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}