<h3 class="text-center">Login</h3>
<div class="row"></div>

<div class="row message error" *ngIf="error && error.message">{{error.message}}</div>

<div *ngIf="!emailLogin">
    <div class="row login-provider--container">
        <div class="login-provider {{provider}}" (click)="login(provider)" *ngFor="let provider of loginProviders">
            <div class="login-provider--title">{{provider | titleCase}}</div>
            <div class="login-provider--right">
                <img [src]="providerImages[provider]" alt="Login" />
            </div>
        </div>
        
    </div>
</div>

<div *ngIf="emailLogin">
    <form 
        novalidate
        (ngSubmit)="onSubmit(loginDetailsForm, 'login')"
        #loginDetailsForm="ngForm"
    >
        <div class="row">
            <div class="col-6">
                <label for="email">
                    Email Address
                    <input 
                        id="email"
                        type="text" 
                        name="email" 
                        placeholder="email@address.co.za"
                        required
                        [(ngModel)]="loginDetails.email" 
                        #errorLoginEmail="ngModel" 
                    />
                    <div 
                        [hidden]="(errorLoginEmail.valid || !errorLoginEmail.touched)" 
                        class="error"
                    >Invalid</div> 
                </label>
            </div>   
            <div class="col-6">
                <label for="password">
                    Password
                    <input 
                        id="password"
                        type="password"
                        name="password"
                        placeholder="password"
                        required 
                        [(ngModel)]="loginDetails.password" 
                        #errorLoginPassword="ngModel" 
                    />
                    <div 
                        [hidden]="(errorLoginPassword.valid || !errorLoginPassword.touched)" 
                        class="error"
                    >Invalid</div>
                </label>
            </div> 
        </div>
        <div class="row">
            <div class="col-12">
                <button 
                    type="submit" 
                    [disabled]="loginDetailsForm.invalid"
                >Login</button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button 
                    (click)="onSubmit(loginDetailsForm, 'register')" 
                    [disabled]="loginDetailsForm.invalid"
                >Register</button>
            </div>
        </div>
    </form>

</div>

<div class="row block text-center" *ngIf="emailLogin">
    <br>
    <a href="#" class="small" (click)="allLoginOptions($event)">Show all options</a>
</div>