@import "../../assets/scss/mixins";
@import "../../assets/scss/settings";

.login-provider {
    display: block;
    background: #efefef;
    border: 1px solid #ccc;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.23);
    overflow: hidden;
    cursor: pointer;
    
    &:hover {
        box-shadow: 1px 1px 10px rgba(204, 204, 204, 0.5);
    }
    
    @include align-items(center);
    @include justify-content(center);
    @include flex-display();
    @include border-radius(2px);
    
    &--title {
        padding: 10px 8px;
        @include flex(1 1 auto);
    }
    
    &--right {
        height: 100%;
        background: #fff;
        @include align-self(center);
        @include flex(0 0 47px);
    }

    @each $social in facebook,github,google {
        &.#{$social} {
            border-color: color($socialColors, #{$social});
            .login-provider--title {
                color: #fff;
                background: color($socialColors, #{$social});
            }
            .login-provider--right {
                background: lighten(color($socialColors, #{$social}), 30%);
            }
            
            &:hover {
                border-color: darken(color($socialColors, #{$social}), 8%);
                .login-provider--title {
                    background: darken(color($socialColors, #{$social}), 8%);
                }
                .login-provider--right {
                    background: lighten(color($socialColors, #{$social}), 25%);
                }
            }
        }
    }
}