<h1>Firebase chat test</h1>

<ul id="chat" *ngIf="(messages | async)?.length">
  <li class="text" *ngFor="let message of messages | async">
    <span class="name" [class.active]="newMessage.name == message.name">{{message.name}}: </span> {{message.text}}
  </li>
</ul>

<div class="row loading-heading" *ngIf="!loaded">
    <div class="col-12">loading...</div>
</div>

<div class="row loading-heading" *ngIf="loaded && !(messages | async)?.length">
    <div class="col-12">No messages yet, go ahead. Add one</div>
</div>
    
<form 
    validation="false"
    (ngSubmit)="onSubmit(newMessageForm)"
    #newMessageForm="ngForm"
>
    <div class="row">
        <div class="col-3">
            <input 
                type="text" 
                required 
                name="name" 
                placeholder="Name" 
                [(ngModel)]="newMessage.name" 
                #errorName="ngModel" 
            />
            <div 
                [hidden]="(errorName.valid || !errorName.touched)" 
                class="error"
            >Invalid</div>
        </div>
        <div class="col-9">
            <input 
                type="text" 
                required 
                name="text" 
                placeholder="Message" 
                [(ngModel)]="newMessage.text" 
                #errorMessage="ngModel"
            />
            <div 
                [hidden]="(errorMessage.valid || !errorMessage.touched)"
                class="error"
            >Invalid</div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="submit" value="Send" />
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <input type="text" name="textTest" value="" />
        <input type="email" name="emailTest" value="" />
        <input type="tel" name="telTest" value="" />
        <input type="password" name="passwordTest" value="" />
    </div>
</div>

<div class="row">
    <a href="#" (click)="clear()" class="small block text-center">Clear</a>
</div>