<h1><i class="icon-message"></i> Firebase chat test</h1>

<ul id="chat" *ngIf="(messages | async)?.length">
  <li class="text" *ngFor="let message of messages | async">
    <span class="name" [class.active]="auth.displayName == message.name || auth.email == message.name">{{message.name}}:&nbsp;</span> {{message.text}}
  </li>
</ul>

<div class="row loading-heading" *ngIf="!loaded">
    <div class="col-12">loading...</div>
</div>

<div class="row loading-heading" *ngIf="loaded && !(messages | async)?.length">
    <div class="col-12">No messages yet, go ahead. Add one</div>
</div>
    
<form 
    novalidate
    (ngSubmit)="onSubmit(newMessageForm)"
    #newMessageForm="ngForm"
>
    <div class="row">
        <div class="col-8">
            <input 
                type="text" 
                required 
                name="text" 
                placeholder="Message" 
                [(ngModel)]="newMessage.text" 
                #errorMessage="ngModel"
            />
            <div 
                [hidden]="(errorMessage.valid || !errorMessage.touched)"
                class="error"
            >Invalid</div>
        </div>
        <div class="col-3">
            <button type="submit">Send</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="block text-center">
        <a 
            *ngIf="loaded && (messages | async)?.length" 
            href="#" 
            (click)="clear($event)"
            class="small text-center pull-left"
        >Remove all messages</a>
        &nbsp;&nbsp; 
        <a 
            href="#" 
            (click)="logout($event)"
            class="small text-center pull-right"
        >Logout</a>
    </div>
</div>